@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Staatliches&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 40%;
  display: flex;
}

.round {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}

.emblem {
  background: white;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.emblem img {
  width: 100%;
}

.container .round:nth-child(1) .emblem:nth-child(2) {
  margin-bottom: 15%;
}

.container .round:nth-child(1) .emblem:nth-child(1) {
  margin-bottom: 5%;
}

.container .round:nth-child(1) .emblem:nth-child(3) {
  margin-bottom: 5%;
}

.container .round:nth-child(6) .emblem:nth-child(2) {
  margin-bottom: 15%;
}

.container .round:nth-child(6) .emblem:nth-child(1) {
  margin-bottom: 5%;
}

.container .round:nth-child(6) .emblem:nth-child(3) {
  margin-bottom: 5%;
}

.container .round:nth-child(2) .emblem {
  margin: 20% 0;
}

.container .round:nth-child(5) .emblem {
  margin: 20% 0;
}
